version: '3'
services:
    mysqldb:
        image: mysql:5.7
        container_name: docker-mysql
        restart: always
        env_file:
            - ".env"
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        ports:
            - "33060:3306"
        volumes:
            - "./data/db/mysql:/var/lib/mysql"